
/* Your CSS Code here. */
/* Styling the main element */
main.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling the paragraph element */
p.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
